[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
sphinx = "==2.2.0"
pytest = "==5.3.1"
pycodestyle = "*"

[packages]
flask = "==1.1.1"
SQLAlchemy = "==1.3.11"
pymysql = "==0.9.3"
inject = "==4.0.0"

[requires]
python_version = "3.8"
